* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-image: url(./images/coffeepagebg.png);
  overflow-x: hidden;
}


h1,
h2,
p,
ul,
li {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  ;
}


ul.header {

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;

}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  transition: 0.2s;
  font-size: 25px;
}

.content {
  background-color: white;
  transition: 0.2s;
}

.contentText {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #155263;
  color: #FFF;
}

.contentText img {
  width: 50%;
}

.contentTextv2 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.contentTextv2 img {
  width: 50%;
}

.content .contentPreparation {
  padding: 20px;
  display: block;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.content .contentPreparation p {
  width: 100%;
}

.content h2 {
  padding: 0;
  margin: 0;
  color: #155263;
  font-size: 40px;
}

.content h3 {
  padding: 20px;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  background-color: #155263;
  color: #FFF;
}

.content p {
  width: 700px;
  font-size: 25px;
  padding: 50px;
}

.content p.contentTextTitle {
  padding: 0 50px;
  font-size: 25px;
  font-weight: bold;
}

.content li {
  margin-bottom: 10px;
}

ul.header li a.active {
  background-color: #155263;
  color: #FFF;
}

.logoImg {
  display: block;
  margin: 0 auto;
  height: 300px;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerBgVideo {
  position: absolute;
  z-index: -1;
}

.headerBgVideoSrc {
  overflow: hidden;
  width: 100vw;
  max-width: 1400px;
}

.socialmedia {
  display: block;
  font-size: 80px;
  width: 80px;
  color: #000;
  margin: 0 auto;
  transition: linear 0.2s;
}

.socialmedia:hover {
  font-size: 90px;
  width: 90px;
}

p.socialEmail {
  font-size: 30px;
  text-align: center;
}

@media (max-width:800px) {
  .logoImg {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 50%;
  }

  ul.header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.header li a {
    font-size: 12px;
    padding: 13px;
  }

  .headerBgVideo {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 50%;
    overflow: hidden;
  }

  .headerBgVideoSrc {
    width: auto;
    height: 100%;
    max-width: 1400px;
  }

  .content h3 {
    padding: 10px;
    font-size: 15px;
  }

  .contentText {
    padding: 2px;
  }

  .content p {
    width: 50%;
    font-size: 12px;
    padding: 5px;
  }

  .contentTextv2 {
    padding: 2px;
  }
}